.flexWrapperSide{
    display: flex;
    justify-content: space-around;
}

.mini{
    max-width: 240px;
}

.teethList{
    max-height:500px;
}

ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 32em;
    list-style: none;
    max-width:500px;
}
li{
    height: 2em;
    line-height: 2em;
}

.tableContainer{
    flex-grow: 1;
}

